:root {
  /* Primärfarben */
  --primary: #1c7ed6;
  --primary-hover: #4e9fff;
  --primary-alt: #4997de;
  --primary-focus: #76b1e6;

  /* Textfarben */
  --text-light: #ffffff;
  --text-light-muted: #ffffffaa;
  --text-dark: #121212;
  --text-grey: #cccccc;
  --text-midgrey: #bbbbbb;
  --text-faded: #aaa;

  /* Hintergrundfarben */
  --bg: #121212;
  --bg-block: #1e1e1e;
  --bg-light: #ffffff;
  --bg-mid: #2a2a2a;
  --bg-midhover: #3a3a3a;
  --bg-midlight: #1f1f1f;
  --bg-darkest: #1f1f1f;
  --bg-checked: #233828;
  --bg-checked-hover: #3b5e43;

  /* Rahmenfarben */
  --border-dark: #444;
  --border-mid: #555;
  --border-light: #888;

  /* Akzentfarben */
  --accent-green: #3b7d3b;
  --accent-green-light: rgba(59, 125, 59, 0.6);
  --accent-blue: #99ccff;
  --accent-label: #7fc27f;

  /* Schatten */
  --shadow-small: rgba(0,0,0,0.2);
  --shadow-mid: rgba(0,0,0,0.3);
  --shadow-strong: rgba(0,0,0,0.4);
  --shadow-deep: rgba(0,0,0,0.5);

  --table-head: #444;
  --table-even: #2a2a2a;
  --table-odd: #1f1f1f;

  --box-shadow: 0 1px 4px var(--shadow-deep);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #d1e5f6;
    --bg-block: #a4cbee;
    --bg-mid: #f0f0f0;
    --bg-midhover: #e0e0e0;
    --bg-midlight: #dadada;
    --bg-darkest: #dddddd;
    --bg-checked: #c7e7ce;
    --bg-checked-hover: #b1cfb8;

    --border-dark: #104b80;
    --border-mid: #2265a0;

    --accent-green: #3b7d3b;
    --accent-green-light: rgba(59, 125, 59, 0.6);
    --accent-blue: #2d4861;
    --accent-label: #388038;

    --text-light: #000000;
    --text-midgrey: #666;
    --text-light: #000000;
    --text-dark: #121212;
    --text-grey: #424242;
    --text-faded: #3d3d3d;
    
    
    --table-head: #b0d3ec;        /* heller Kopfbereich */
    --table-even: #e7f3fc;        /* fast weiß-blau für gerade Zeilen */
    --table-odd: #d8ebf9;         /* leicht dunkler für ungerade Zeilen */
  }
}


.icon-button {
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 6px;
    border: none;
    font-size: 1.2em;
    color: var(--text-light);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 6px var(--shadow-strong);
    background-color: var(--border-dark);
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.icon-button:hover {
    background-color: var(--border-mid);
}